body {
    background-color: rgb(196, 117, 138);
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    width: 100%;
}

h1 { 
    text-align :center;
}

li { 
    list-style-type: none;
    float : left; 
    background-color: bisque;
    padding:10px;
    text-align : center; 
    height: 44px;
}

ul li {
    list-style: none;
    line-height:44px;
    float:left; 
     width: 20%;}

ul li ul li {
        display :none; 
        clear : both; 
    }

ul li:hover ul li {
        display: block;  
        }

ul li:hover{
    border-bottom:3px rgb(221, 34, 34) solid;
}

 ul li ul li:hover {
    border-bottom:3px white solid; 
} 

.menu {
    text-align : center; 
}